<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Setup Password</title>
</head>
<body>
    <h1>Setup Your Password</h1>
    <form method="post" action="{% url 'save_password' %}">
        {% csrf_token %}
        <label for="id_password">Password:</label>
        <input type="password" name="password" id="id_password">
        <br>
        <label for="id_confirm_password">Confirm Password:</label>
        <input type="password" name="confirm_password" id="id_confirm_password">
        <br>
        <input type="submit" value="Save Password">
    </form>
</body>
</html>
